body {
  font-family: 'Inconsolata', monospace;
  color: var(--global-text-color);
  --text-primary: #ff5c00;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-color: var(--home-bg-color);
  background-image: var(--home-bg-image);
}

.page {
  position: fixed;
  top: 124px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0px 24px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000;
  pointer-events: none;
}

.header-links,
.header-cart-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.header-links > a {
  text-decoration: none;
  padding-bottom: 4px;
}
.header-links.selected,
.header-links > a:hover {
  border-bottom: 1px solid #000;
}
.header-links > *:not(:last-child) {
  margin-right: 16px;
}
.header-cart-link > *:not(:last-child) {
  margin-right: 4px;
}

/* Card */
.card-container {
  color: var(--card-text-color);
  position: relative;
  transition: all 0.5s;
  width: 100%;
  height: 0px;
  padding-top: 140%;
  overflow: hidden;
  margin: 12px;
}
.card-image-underlay,
.card-graphic-overlay,
.card-text-overlay {
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  object-position: center;
}
.card-title {
  position: absolute;
  top: 8.5%;
  left: 2%;
  width: 90%;
  text-align: center;
  display: block;
  color: black;
  color: var(--card-text-color);
  font-size: 1em;
}
.detail-card .card-title,
.detail-card .card-price {
  font-size: 1.4em;
}
.card-price {
  position: absolute;
  top: 83%;
  width: 20%;
  right: 20%;
  text-align: center;
  color: black;
  color: var(--card-text-color);
  font-size: 1.1em;
}
.card-sold-out {
  top: 81.5%;
  white-space: pre-line;
}
.card-image-underlay {
  top: 6%;
  height: 83%;
  object-fit: cover;
}
.card-graphic-overlay {
  background-size: contain;
  filter: opacity(0.9) drop-shadow(0 0 0 var(--card-tint-color));
}

/* Products */
.products-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: calc(100vh - 125px - 160px);
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  padding: 30px;
  border-top: 1px solid #c4c4c4;
  color: var(--global-footer-links-color);
  background: rgba(255, 255, 255, 0.5);
}

.footer-link {
  color: var(--global-footer-links-color);
  text-decoration: none;
}

footer > div {
  margin-right: 50px;
  color: var(--global-footer-links-color);
}

.cart-button {
  --button-width: 114px;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100001;
  user-select: none;
  color: var(--global-header-links-color);
}

.menu-button {
  --button-width: 114px;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 10001;
  color: var(--global-header-links-color);
}
.menu-button,
.menu-button > img {
  width: var(--button-width);
}

.menu-button-text {
  position: absolute;
  top: 23px;
  left: 23px;
  transform: rotate(-20deg);
}
@media (max-width: 414px) {
  .menu-button {
    --button-width: 88px;
  }
  .menu-button-text {
    position: absolute;
    top: 15px;
    left: 15px;
    transform: rotate(-20deg);
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgb(122, 188, 239);
  background: linear-gradient(
    90deg,
    rgba(122, 188, 239, 1) 0%,
    rgba(122, 188, 239, 1) 72%,
    rgba(122, 188, 239, 0) 100%
  );
  background: linear-gradient(90deg, var(--menu-bg-color) 0%, var(--menu-bg-color) 72%,transparent 100%);
  transition: all 0.5s;
  z-index: 10000;
  overflow: hidden;
  color: var(--menu-text-color);
}
.menu * {
  display: none;
}

.menu-open * {
  display: initial;
}

.menu-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 30px;
}

.menu-link {
  margin-bottom: 5px;
  color: var(--menu-text-color);
  text-decoration: none;
}

.menu-link > a {
  color: var(--menu-text-color);
  text-decoration: none;
}

.menu-divider {
  margin-bottom: 50px;
}

.menu-open {
  width: 300px;
}

.menuCancelArea {
  position: fixed;
  top: 0;
  left: 300px;
  bottom: 0;
  right: 0;
  z-index: 10000;
}

.menu-closed {
  width: 0px;
}

.logo {
  --image-width: 140px;
  position: fixed;
  left: calc(50% - (var(--image-width) / 2));
  top: 30px;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--global-logo-tint-color));
}
.logo > img {
  width: var(--image-width);
}
@media (max-width: 414px) {
  .logo,
  .logo > img {
    --image-width: 100px;
  }
}

.checkoutButton {
  width: 100%;
  display: inline-block;
  background-color: var(--checkout-button-bg-color);
  border: 1px solid var(--checkout-button-border-color);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0px;
  margin-top: 60px;
  color: var(--checkout-button-text-color);
}

.cartCancelArea {
  position: fixed;
  top: 0;
  right: calc(100vh - 460px);
  bottom: 0;
  left: 0;
  z-index: 100000;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  background-color: var(--cart-bg-color);
  transition: width 0.5s;
  z-index: 100000;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--cart-text-color)
}

.cart-open {
  width: 400px;
  padding: 30px;
}
@media (max-width: 414px) {
  .cart-open {
    width: calc(100vw - 60px);
    padding: 30px;
  }
  .cartCancelArea {
    display: none;
  }
}

.cart * {
  display: none;
}

.cart-open * {
  display: block;
}

.cart-closed {
  width: 0px;
}

.detailLeftCol {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 60%;
  background-size: cover;
  background-color: var(--detail-bg-color);
  background-image: var(--detail-bg-image);
}

.detail-right-col {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 30%;
  background: #fff;
  padding: 100px 5%;
  color: var(--detail-text-color);
}

.info-page-bg {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.faq{
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: calc(100vh - 185px - 160px);
  font-size: 18px;
  align-items: center;
}

.faq-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.faq-content {
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  border-top: 1px solid #c4c4c4;
  background: rgba(255, 255, 255, 0.5);
}


.faq-question{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

.faq-answer {
  margin-bottom: 30px;
}

.about-container {
  padding: 30px;
  min-height: calc(100vh - 185px - 160px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
}

.about-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-content {
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  border-top: 1px solid #c4c4c4;
  background: rgba(255, 255, 255, 0.5);
}

.about-text {
  margin-bottom: 30px;
}

.email {
  margin-bottom: 5px;
}

.ig-link {
  color: var(--global-text-color);
  text-decoration: none;
}

@media (max-width: 414px) {
  .detailLeftCol {
    width: 100%;
  }

  .detail-right-col {
    top: 100vh;
  }

  footer {
    flex-direction: column;
  }
}

.detail-section {
  margin-bottom: 20px;
}

.detail-variants {
  margin-bottom: 20px;
}

.detail-variants select {
  padding: 8px;
  border-radius: 5px;
  color: var(--detail-text-color);
  border-color: var(--detail-text-color);
  outline-color: var(--detail-text-color);
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

.add-to-bag-button {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  color: var(--detail-add-to-bag-color);
}

.add-to-bag-button-disabled {
  cursor: not-allowed;
  font-weight: bold;
  color: var(--detail-add-to-bag-color);
  opacity: 0.3;
}

.cart-products-container {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 10px 0px;
  border-bottom: 1px solid var(--cart-text-color);
}

.cart-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}

.cart-product-remove {
  text-decoration: underline;
}

.cart-product-info {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.cart-product-image {
  max-width: 80px;
  width: 100%;
  margin-right: 10px;
}

.cart-product-title {
  max-width: 100px;
  margin-bottom: 10px;
}

.cart-product-price {

}

.cart-product-quantity {
}

.subtotal {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.checkout-note {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.product-card {
  width: 25vw;
  min-width: 350px;
  position: relative;
}

.detail-card {
  max-width: calc(90vh * 0.65);
  margin: auto;
  margin-top: 100px;
}

.carousel-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -3vh;
}

.carousel-dot-touch-target {
  padding: 3px;
  cursor: pointer;
}

.selected-carousel-dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--detail-carousel-dots-color);
  opacity: .5;
}

.carousel-dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--detail-carousel-dots-color);
}

.prev-button {
  position: absolute;
  top: 25%;
  left: -20%;
  height: 50%;
  width: 50%;
  /* background-color: rgba(255, 255, 255, 0.5); */
  cursor: w-resize;
  user-select: none;
}

.next-button {
  position: absolute;
  top: 25%;
  right: -20%;
  height: 50%;
  width: 50%;
  /* background-color: rgba(255, 255, 255, 0.5); */
  cursor: e-resize;
  user-select: none;
}
