.stocklist-link {
  color: var(--stocklists-link-color);
}

body {
  font-family: 'Inconsolata', monospace;
  color: var(--global-text-color);
  --text-primary: #ff5c00;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-color: var(--home-bg-color);
  background-image: var(--home-bg-image);
}

.page {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 124px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0px 24px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000;
  pointer-events: none;
}

.search-bar {
  position: fixed;
  right: 100px;
  top: 10px;
}

.header-links,
.header-cart-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.header-links > a {
  text-decoration: none;
  padding-bottom: 4px;
}
.header-links.selected,
.header-links > a:hover {
  border-bottom: 1px solid #000;
}
.header-links > *:not(:last-child) {
  margin-right: 16px;
}
.header-cart-link > *:not(:last-child) {
  margin-right: 4px;
}

/* Card */
.card-container {
  color: var(--card-text-color);
  position: relative;
  transition: all 0.5s;
  width: 100%;
  height: 0px;
  padding-top: 140%;
  overflow: hidden;
  margin: 12px;
}

.card-graphic-overlay {
  background-image: url('./assets/shop_card_default.png');
  background-image: var(--card-design-image);
}

.card-image-underlay,
.card-graphic-overlay,
.card-text-overlay {
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  object-position: center;
}
.card-title {
  position: absolute;
  top: 8%;
  left: 2%;
  width: 90%;
  text-align: center;
  display: block;
  color: black;
  color: var(--card-text-color);
  font-size: 1em;
}
.detail-card .card-title,
.detail-card .card-price {
  font-size: 1.3em;
  user-select: none;
}
.card-price {
  position: absolute;
  top: 78.5%;
  width: 20%;
  right: 21%;
  text-align: center;
  color: black;
  color: var(--card-text-color);
  font-size: 1.1em;
}
.card-sold-out {
  top: 76.7%;
  white-space: pre-line;
}
.card-image-underlay {
  top: 6%;
  height: 80%;
  object-fit: cover;
}
.card-graphic-overlay {
  background-size: contain;
  filter: opacity(0.9) drop-shadow(0 0 0 var(--card-tint-color));
}

/* Products */
.products-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: calc(100vh - 125px - 160px);
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  padding: 30px;
  position: relative;
  /* border-top: 1px solid #c4c4c4; */
  color: var(--global-footer-links-color);
  /* background: rgba(255, 255, 255, 0.5); */
}

.footer-shape {
  position: absolute;
  overflow: hidden;
  bottom: -3px;
  width: 230px;
  height: 60px;
  left: calc(50vw - (230px / 2));
  background-image: var(--global-footer-shape-image);
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.footer-name {
  position: absolute;
  bottom: 10px;
  width: 230px;
  text-align: center;
  left: calc(50vw - (230px / 2));
}

.footer-link {  
  position: absolute; 
  width: 150px;
  height: 110px;
}
.footer-link div {
  position: absolute;
  text-align: center;
  text-shadow: 0 0 3px #ffffff, 0 0 3px #ffffff, 0 0 5px #ffffff;
  text-shadow: 0 0 3px var(--shell-button-text-shadow-color), 0 0 3px var(--shell-button-text-shadow-color), 0 0 5px var(--shell-button-text-shadow-color);
}
.footer-link-1 {
  left: calc(50vw - (170px));
  bottom: 10px;
  background-image: var(--shell-button-about-image);
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-link-1 div {
  bottom: 60px;
  left: 25px;
}
.footer-link-2 {
  left: calc(50vw - 60px);
  bottom: 30px;
  background-image: var(--shell-button-stocklists-image);
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-link-2 div {
  bottom: 55px;
  left: 15px;
}
.footer-link-3 {
  left: calc(50vw + 60px);
  bottom: 15px;
  background-image: var(--shell-button-faq-image);
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-link-3 div{
  bottom: 55px;
  left: 50px;
}

.footer-link {
  color: var(--global-footer-links-color);
  text-decoration: none;
}

footer > div {
  margin-right: 50px;
  color: var(--global-footer-links-color);
}

.search-bar {
  --button-width: 114px;
  position: fixed;
  top: 33px;
  right: 75px;
  user-select: none;
  color: var(--global-header-links-color);
  z-index: 10000;
  height: 27px;
}

.search-bar div {
  width: 30px;
  height: 27px;
  background-image: var(--global-search-icon-image);
  background-size: contain;
  background-repeat: no-repeat;
}

.search-bar input[type=text] {
  height: 27px;
  border-radius: 100px;
  border: 1px solid var(--global-header-links-color);
  border-radius: 4px;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

.search-bar button {
  position: absolute;
  right: 48px;
  background: transparent;
  outline: none;
  border: none;
  height: 30px;
  width: 30px;
  color: 1px solid var(--global-header-links-color);
}

.cart-button {
  --button-width: 114px;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100001;
  user-select: none;
  color: var(--global-header-links-color);
}

.bag-icon {
  width: 26px;
  height: 32px;
  position: relative;
  background-image: var(--global-bag-icon-image);
  background-size: contain;
  background-repeat: no-repeat;
}

.cart-size {
  position: absolute;
  top: 28%;
  left: 0px;
  width: 26px;
  text-align: center;
}

.menu-button {
  --button-width: 114px;
  height:80px;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 10000;
  color: var(--global-header-links-color);
  background-image: var(--shell-button-menu-image);
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--button-width);
}

.menu-button-text {
  position: absolute;
  top: 23px;
  left: 23px;
  transform: rotate(-20deg);
  text-shadow: 0 0 3px #ffffff, 0 0 3px #ffffff, 0 0 5px #ffffff;
  text-shadow: 0 0 3px var(--shell-button-text-shadow-color), 0 0 3px var(--shell-button-text-shadow-color), 0 0 5px var(--shell-button-text-shadow-color);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgb(122, 188, 239);
  background: linear-gradient(
    90deg,
    rgba(122, 188, 239, 1) 0%,
    rgba(122, 188, 239, 1) 72%,
    rgba(122, 188, 239, 0) 100%
  );
  background: linear-gradient(90deg, var(--menu-bg-color) 0%, var(--menu-bg-color) 72%,transparent 100%);
  transition: all 0.5s;
  z-index: 10000;
  overflow: hidden;
  color: var(--menu-text-color);
}
.menu * {
  display: none;
}

.menu-open * {
  display: initial;
}

.menu-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 30px;
}

.menu-link {
  margin-bottom: 5px;
  color: var(--menu-text-color);
  text-decoration: none;
}

.menu-link > a {
  color: var(--menu-text-color);
  text-decoration: none;
}

.menu-divider {
  margin-bottom: 50px;
}

.menu-open {
  width: 300px;
}

.menuCancelArea {
  position: fixed;
  top: 0;
  left: 300px;
  bottom: 0;
  right: 0;
  z-index: 10000;
}

.menu-closed {
  width: 0px;
}

.logo {
  background-color: var(--custom-background-color);
  z-index: 101;
  --image-width: 140px;
  height: 80px;
  position: absolute;
  left: calc(50% - (var(--image-width) / 2));
  top: 30px;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--global-logo-tint-color));
}
.logo > div {
  height: 80px;
  width: var(--image-width);
  background-image: var(--global-logo-image);
  background-size: contain;
  background-repeat: no-repeat;
}
.logo svg {
  shape-rendering: crispEdges;
}


.checkoutButton {
  width: 100%;
  display: inline-block;
  background-color: var(--checkout-button-bg-color);
  border: 1px solid var(--checkout-button-border-color);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0px;
  margin-top: 60px;
  color: var(--checkout-button-text-color);
}

.cartCancelArea {
  position: fixed;
  top: 0;
  right: calc(100vh - 460px);
  bottom: 0;
  left: 0;
  z-index: 100000;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cart-bg-color);
  background: linear-gradient(
    180deg,
    white 0%,
    white 72%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(270deg, var(--cart-bg-color) 0%, var(--cart-bg-color) 72%, transparent 100%);
  transition: width 0.5s;
  z-index: 100000;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--cart-text-color)
}

.cart-open {
  width: 400px;
  padding: 30px;
  padding-left: 200px;
}

.cart * {
  display: none;
}

.cart-open * {
  display: block;
}

.cart-closed {
  width: 0px;
}

.detailLeftCol {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 60%;
  z-index: 100;
  background-size: cover;
  background-color: var(--detail-bg-color);
  background-image: var(--detail-bg-image);
}

.detail-right-col-mobile {
  z-index: 100;
  display: none;
}

.detail-right-col {
  z-index: 100;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 30%;
  background-color: var(--detail-col-color);
  background-image: var(--detail-col-image);
  background: linear-gradient(270deg, var(--detail-col-color) 0%, var(--detail-col-color) 80%, transparent 100%);
  transition: width 0.5s;
  z-index: 10000;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 100px 5%;
  color: var(--detail-text-color);
}

.info-page-bg {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.faq{
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: calc(100vh - 185px - 160px);
  font-size: 18px;
  align-items: center;
}

.faq-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.faq-content {
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  border-top: 1px solid #c4c4c4;
  background: rgba(255, 255, 255, 0.5);
}


.faq-question{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

.faq-answer {
  margin-bottom: 30px;
}

.about-container, .template-container {
  padding: 30px;
  min-height: calc(100vh - 185px - 160px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
}

.about-title, .template-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-content, .template-content {
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  border-top: 1px solid #c4c4c4;
  background: rgba(255, 255, 255, 0.5);
}

.about-text {
  margin-bottom: 30px;
}

.email {
  margin-bottom: 5px;
}

.ig-link {
  color: var(--global-text-color);
  text-decoration: none;
}

.filipino{
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: calc(100vh - 185px - 160px);
  font-size: 18px;
  align-items: center;
}

.filipino-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.filipino-content {
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  border-top: 1px solid #c4c4c4;
  background: rgba(255, 255, 255, 0.5);
}

.filipino-question {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

.filipino-answer {
  margin-bottom: 30px;
}

.detail-section {
  margin-bottom: 20px;
}

.detail-variants {
  margin-bottom: 20px;
}

.detail-variants select {
  padding: 8px;
  border-radius: 5px;
  color: var(--detail-text-color);
  border-color: var(--detail-text-color);
  outline-color: var(--detail-text-color);
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

.add-to-bag-button {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  color: var(--detail-add-to-bag-color);
}

.add-to-bag-button-disabled {
  cursor: not-allowed;
  font-weight: bold;
  color: var(--detail-add-to-bag-color);
  opacity: 0.3;
}

.cart-products-container {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 10px 0px;
  border-bottom: 1px solid var(--cart-text-color);
}

.cart-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}

.cart-product-remove {
  text-decoration: underline;
}

.cart-product-info {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.cart-product-image {
  max-width: 80px;
  width: 100%;
  margin-right: 10px;
}

.cart-product-title {
  max-width: 100px;
  margin-bottom: 10px;
}

.subtotal {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.checkout-note {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.product-card {
  width: 25vw;
  min-width: 350px;
  max-width: 400px;
  position: relative;
}

.detail-card {
  max-width: calc(90vh * 0.65);
  margin: auto;
  margin-top: 100px;
}

.carousel-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -3vh;
}

.carousel-dot-touch-target {
  padding: 3px;
  cursor: pointer;
}

.selected-carousel-dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--detail-carousel-dots-color);
  opacity: .5;
}

.carousel-dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--detail-carousel-dots-color);
}

@media (max-width: 800px) {

  .product-card {
    min-width: 300px;
  }

  .detail-right-col {
    display: none;
  }

  .detailLeftCol {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .detail-card .card-title,
  .detail-card .card-price {
    font-size: 1.2em;
  }

  .detail-right-col-mobile {
    display: block;
    background-color: var(--detail-col-color);
    background-image: var(--detail-col-image);
    padding: 10px 5% 30px 5%;
    color: var(--detail-text-color);
  }

  .menu-button {
    --button-width: 88px;
  }
  .menu-button-text {
    position: absolute;
    top: 15px;
    left: 15px;
    transform: rotate(-20deg);
  }
  .cart {
    background: none;
    background-color: var(--cart-bg-color);
  }
  .cart-open {
    width: calc(100vw - 60px);
    padding: 30px;
  }
  .cartCancelArea {
    display: none;
  }
  
}

@media (max-width: 414px) {
  footer {
    transform: scale(0.8);
    bottom: -15px;
    overflow: hidden;
  }
}

@media (max-width: 414px) {
  
  .menu-button {
    --button-width: 70px;
  }
  .menu-button-text {
    position: absolute;
    top: 10px;
    left: 15px;
    transform: rotate(-20deg);
    font-size: 12px;
  }

  .product-card {
    min-width: 90vw;
    overflow: hidden;
  }

  .logo,
  .logo > div {
    --image-width: 80px;
  }

  .page {
    padding-top: 80px;
  }
}
